@charset "utf-8";
/* CSS Document */

/*공동으로 들어가는 것들*/
#contents .wrap { margin: 0 auto; width: 100%; overflow: hidden; border-top: 1px solid #f0f0f0; text-align: center; }
#contents .wrap .contwrap { margin: 0 auto; width: 1456px; overflow: hidden; min-width: 1456px; }

#contents .wrap .contwrap ul li { float: left; cursor: pointer; margin-bottom: 32px; position: relative; transition: all 0.3s; }

#contents .wrap .contwrap ul li a { color: #000; }

#contents .wrap .contwrap ul li .img1 { opacity: 1; }
#contents .wrap .contwrap ul li .img2{ opacity:0;}

#contents .wrap .contwrap ul li:hover .img1 { opacity: 0; }
#contents .wrap .contwrap ul li:hover .img2 { opacity: 1; }

.list { margin: 34px 0 -3px 0; }

#contents .wrap .contwrap .list ul li a { font-size: 25px; margin-right: 60px; transition: color 0.5s; }
#contents .wrap .contwrap .list ul li a:hover { color: #c41320; }
#contents .wrap .contwrap .list ul li:first-child { margin-left: 99px; }

.line1 { width: 1456px; height: 1px; background: #e3e6e8; box-sizing: border-box; }

#contents .wrap .contwrap h2 { text-align: left; font-size: 40px; font-weight: bold; line-height:1; }

.des { text-align: left; font-weight: bold; font-size: 16px; margin-bottom: 76px; }
.des a { display: block; }
.des .t1 { font-size: 30px; margin-top: 50px; display: block; }
.des .t2 { font-size: 20px; display: block; }
.des .t3 { font-size: 15px; font-weight: normal; display: block; }
.des .t4 { color: #c41230; }

.img1 { height: 125px; }
.img2 { height: 140px; position: absolute; top: 0; left: 0; transition: all 0.3s; }
.img2:hover { height: 140px; position: absolute; top: 0; left: 0; }


.contwrap ul li:hover .under { text-decoration: underline; }

#contents .wrap .contwrap .title { margin: 38px 0 110px 98px; }

#contents .wrap .contwrap>div { float: left; }


/*승용*/
#contents .wrap .contwrap .sedan ul li:first-child { margin-left: 58px; }
#contents .wrap .contwrap .sedan ul li:nth-child(2) { margin: 0 112px 0 88px; }
#contents .wrap .contwrap .sedan ul li:nth-child(5) { margin: 0 69px 0 70px; }

#contents .wrap .contwrap .sedan ul .sedantxt1 { margin-left: -10px; }
#contents .wrap .contwrap .sedan ul .sedantxt2 { margin-left: 30px; }
#contents .wrap .contwrap .sedan ul .sedantxt3 { margin-left: 24px; }
#contents .wrap .contwrap .sedan ul .sedantxt4 { margin-left: 39px; }
#contents .wrap .contwrap .sedan ul .sedantxt5 { margin-left: 42px; }
#contents .wrap .contwrap .sedan ul .sedantxt6 { margin-left: 34px; }



/*친환경*/
#contents .wrap .contwrap .eco ul li:first-child { margin-left: 48px; }
#contents .wrap .contwrap .eco ul li:nth-child(2) { margin: 0 120px 0 170px; }

#contents .wrap .contwrap .eco ul .ecotxt1 { margin-left: -10px; }
#contents .wrap .contwrap .eco ul .ecotxt2 { margin-left: -10px; }
#contents .wrap .contwrap .eco ul .ecotxt3 { margin-left: 44px; }

/*RV*/
#contents .wrap .contwrap .rv ul li:first-child { margin-left: 48px; }
#contents .wrap .contwrap .rv ul li:nth-child(4) { margin-left: 40px; }


#contents .wrap .contwrap .rv ul li:nth-child(2) { margin: 0 177px 0 168px; }
#contents .wrap .contwrap .rv ul li:nth-child(5) { margin: 0 171px 0 170px; }
#contents .wrap .contwrap .rv ul li:nth-child(7) { margin: 0 149px 0 50px; }
#contents .wrap .contwrap .rv ul li:nth-child(9) { margin: 0 0 102px 135px ; }

#contents .wrap .contwrap .rv ul .rvtxt1 { margin-left: -10px; }
#contents .wrap .contwrap .rv ul .rvtxt2 { margin-left: -29px; }
#contents .wrap .contwrap .rv ul .rvtxt3 { margin-left: -13px; }
#contents .wrap .contwrap .rv ul .rvtxt4 { margin-left: -2px; }
#contents .wrap .contwrap .rv ul .rvtxt5 { margin-left: -22px; }
#contents .wrap .contwrap .rv ul .rvtxt6 { margin-left: -15px; }
#contents .wrap .contwrap .rv ul .rvtxt7 { margin-left: -12px; }
#contents .wrap .contwrap .rv ul .rvtxt8 { margin-left: -5px; }
#contents .wrap .contwrap .rv ul .rvtxt9 { margin-left: -7px; }

